.u-section-1 {
  background-image: linear-gradient(#db545a, #ff9465);
}

.u-section-1 .u-sheet-1 {
  min-height: 919px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  width: 556px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.9);
  animation-duration: 1000ms;
  margin: 122px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 471px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-template-rows: auto auto;
  grid-gap: 10px 10px;
  margin: 42px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-icon-8 {
  height: 124px;
  width: 124px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-list-1 {
    min-height: 388px;
    grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1226px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1189px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 129px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}